@charset "UTF-8";

/* 共通 */
body {
  font-family: 'Hiragino Kaku Gothic ProN', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14.4px;
  color: #24292e;
  line-height: normal;
}

a {
  color: #2d2d2d;
  text-decoration: none;
}

.header__inner,
.section__inner,
.footer__inner {
  max-width: 960px;
  padding: 0 4%;
  margin: 0 auto;
}

.section__title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 65px;
}

/* header */
/* header__inner */
.header__inner {
  height: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  /* width: 120px;
  height: 27px; */
}

/* global-nav */
.global-nav__title {
  display: none;
}

.global-nav__list {
  display: flex;
}

.global-nav .list__item:not(:last-of-type) {
  margin-right: 30px;
}

/* main */
/* main-visual */
.main-visual {
  margin-bottom: 80px;
}

.main-visual__image--pc {
  width: 100%;
  height: 420px;
  object-fit: cover;
}

/* about */
.about__inner {
  margin-bottom: 130px;
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about__name {
  display: block;
}

.about__profile {
  text-align: justify;
}

/* works */
.works__inner {
  margin-bottom: 150px;
}

.works__list {
  display: grid;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 23px;
}

/* news */
.news__inner {
  margin-bottom: 130px;
}

.news .list__item {
  display: flex;
  border-top: 1px solid #c8c8c8;
  padding: 15px;
}

.news .list__item:last-of-type {
  border-bottom: 1px solid #c8c8c8;
}

.news__date {
  padding-right: 6%;
}

/* contact */
.contact__inner {
  margin-bottom: 130px;
}

.contact-form__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact .list__item {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 15% 85%;
}

.contact-form__input {
  width: 100%;
  height: 44px;
  border: 1px solid #c8c8c8;
}

.contact-form__btn {
  display: block;
  width: 200px;
  height: 52px;
  background: #24292e;
  color: #fff;
  margin: 0 auto;
}

/* footer */
.footer__inner {
  background: #24292e;
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__copyright {
  display: block;
  color: #fff;
  font-size: 8px;
  text-align: center;
}
