@charset "UTF-8";
/* コピペ用コード */
.font-size-dummy {
  font-size: 0.75rem; /* 12px */
  font-size: 0.8125rem; /* 13px */
  font-size: 0.875rem; /* 14px */
  font-size: 1rem; /* 16px */
  font-size: 1.25rem; /* 20px */
  font-size: 1.75rem; /* 28px */
}
@media screen and (max-width: 600px) {
}

/* 共通 */
body {
  font-family: 'Hiragino Kaku Gothic ProN', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.9rem;
  color: #24292e;
  line-height: normal;
}

a {
  color: #2d2d2d;
  text-decoration: none;
}

.header__inner,
.section__inner,
.footer__inner {
  max-width: 960px;
  padding: 0 4%;
  margin: 0 auto;
}

.section__title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 65px;
}
@media screen and (max-width: 600px) {
  .section__title {
    margin-bottom: 40px;
  }
}

/* header */
/* header__inner */
.header__inner {
  height: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .header__inner {
    height: auto;
    flex-direction: column;
    padding: 20px 0 10px;
  }
}

@media screen and (max-width: 600px) {
  .header__logo {
    margin-bottom: 10px;
  }
}
/* global-nav */
.global-nav__title {
  display: none;
}

.global-nav__list {
  display: flex;
}
@media screen and (max-width: 600px) {
  .global-nav__list {
    font-size: 0.8rem;
  }
}

.global-nav .list__item:not(:last-of-type) {
  margin-right: 30px;
}
@media screen and (max-width: 600px) {
  .global-nav .list__item:not(:last-of-type) {
    margin-right: 20px;
  }
}

/* main */
/* main-visual */
.main-visual {
  margin-bottom: 80px;
}

.main-visual__image--pc {
  width: 100%;
  height: 420px;
  object-fit: cover;
}

/* about */
.about__inner {
  margin-bottom: 130px;
}
@media screen and (max-width: 600px) {
  .about__inner {
    margin-bottom: 70px;
  }
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about__name {
  display: block;
}

.about__profile {
  text-align: justify;
}

/* works */
.works__inner {
  margin-bottom: 150px;
}
@media screen and (max-width: 600px) {
  .works__inner {
    margin-bottom: 90px;
  }
}

.works__list {
  display: grid;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 23px;
}
@media screen and (max-width: 600px) {
  .works__list {
    grid-template-columns: 1fr;
  }
}

/* news */
.news__inner {
  margin-bottom: 130px;
}
@media screen and (max-width: 600px) {
  .news__inner {
    margin-bottom: 70px;
  }
}

.news .list__item {
  display: flex;
  border-top: 1px solid #c8c8c8;
  padding: 15px;
}
@media screen and (max-width: 600px) {
  .list__item {
    flex-direction: column;
  }
}

.news .list__item:last-of-type {
  border-bottom: 1px solid #c8c8c8;
}

.news__date {
  padding-right: 6%;
}

/* contact */
.contact__inner {
  margin-bottom: 130px;
}
@media screen and (max-width: 600px) {
  .contact__inner {
    margin-bottom: 70px;
  }
}

.contact-form__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.contact .list__item {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 15% 85%;
}
@media screen and (max-width: 600px) {
  .contact .list__item {
    grid-template-columns: 1fr;
  }
}

.contact-form__input,
.contact-form__input--large {
  width: 100%;
  border: 1px solid #c8c8c8;
}

.contact-form__input {
  height: 44px;
}

.contact-form__btn {
  display: block;
  width: 200px;
  height: 52px;
  background: #24292e;
  color: #fff;
  margin: 0 auto;
}

/* footer */
.footer {
  background: #24292e;
}

.footer__inner {
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__copyright {
  display: block;
  color: #fff;
  font-size: 0.5rem;
  text-align: center;
}
